$mc:  #000000; /* main color  default #000000 */
$ac1: #e3dbad; /* accent color 1 default #e3dbad */
$ac2: #c1a584; /* accent color 2 default #c1a584 */
$tc:  #ffdaae; /* table tour hover color default #ffdaae*/
