@font-face {
    font-family: 'montfont';
    font-display: swap;
    src: url('../fonts/montserrat.woff') format('woff');
    font-weight: 700;
}

@font-face {
    font-family: 'firafont';
    font-display: swap;
    src: url('../fonts/fira-sans.woff') format('woff');
    font-weight: 100;
}

@font-face {
    font-family: 'jimfont';
    font-display: swap;
    src: url('../fonts/jim-nightshade.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'fontello';
    font-display: swap;
    src: url('../fonts/fontello.eot?73940808');
    src: url('../fonts/fontello.eot?73940808#iefix') format('embedded-opentype'),
         url('../fonts/fontello.woff2?73940808') format('woff2'),
         url('../fonts/fontello.woff?73940808') format('woff'),
         url('../fonts/fontello.ttf?73940808') format('truetype'),
         url('../fonts/fontello.svg?73940808#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
   [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
  }
   
  .icon-itunes:before { content: '\e800'; }
  .icon-glass:before { content: '\e801'; }
  .icon-mail-alt:before { content: '\f0e0'; }
  .icon-youtube-play:before { content: '\f16a'; }
  .icon-instagram:before { content: '\f16d'; }
  .icon-vkontakte:before { content: '\f189'; } 
  .icon-spotify:before { content: '\f1bc'; } 
  .icon-facebook-squared:before { content: '\f308'; }
  .icon-comment:before { content: '\f4ac'; }
