@media screen and (max-width: 1700px) {

    nav {
        padding: 0 15% 0 15%;
    }

    .videos__embed-responsive {
        width: 70%;
    }

    .band__all {
        padding: 0 15% 0 15%;
    }

}

@media screen and (max-width: 1448px) {

    nav {
        padding: 0 10% 0 10%;
    }

    .videos__embed-responsive {
        width: 80%;
    }

    .band__all {
        padding: 0 10% 0 10%;
    }

}

@media screen and (max-width: 1280px) {

    nav {
        padding: 0 5% 0 5%;
    }

    .videos__embed-responsive {
        width: 90%;
    }

    .band__all {
        padding: 0 5% 0 5%;
    }

}

@media screen and (max-width: 1120px) {

    nav {
        padding: 0 3% 0 3%;
        position: static;
        flex-direction: column;

        img {
            margin-top: 0.5em;
        }
    }

    .nav__menu {
        align-items: center;
        align-self: center;
        margin-left: 0;
        margin-top: 1em;
        font-size: 1.2em;
    }

    .nav__socials {
        margin-left: 0;
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 1.2em;
        word-spacing: 2em;
    }

    header {
        margin-top: 0;
    }
    
    .videos__embed-responsive {
        width: 94%;
    }

    .band__all {
        padding: 0;
    }

    .modal__content {
        width: 60%;
    }

    .modal__body-music {
        text-align: center;
        margin: 1em;
        font-size: 1.6em;
        line-height: 2em;
    }
    
    .modal__body-contact {
        width: 100%;
        text-align: left;
        margin: .8em;
        font-size: 1.3em;
        line-height: 2em;
    }
}

@media screen and (max-width: 548px) {

    nav {
        padding: 0 1% 0 1%;
    }

    .videos__embed-responsive {
        width: 98%;
    }

}

@media screen and (max-width: 460px) {

    nav {
        position: static;
        flex-direction: column;

        img {
            max-width: 210px;
            max-height: 210px;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
        }

    }

    .nav__menu {
        align-items: center;
        align-self: center;
        margin-left: 0;
        margin-bottom: 0;
        font-size: 1.2em;

        li {
            display: block;
            line-height: 3em;
            text-align: center;
        }
    }

    .nav__socials {
        margin-left: 0;
        margin-bottom: 1em;
        font-size: 2em;
        word-spacing: 1em;
    }

    header {
        margin-top: 0;
        background-image: url("../img/album_background_m.jpg");
    }

    .header__album-title {
        margin-top: 1.2em;
    }

    .header__album {
        flex-direction: column;
        align-items: center;
    }

    .header__album-tracks {
        margin-bottom: 1em;
        font-size: 2em;
    }

    .videos h1,
    .videos__embed-responsive .videos__embed-responsive-item,
    .videos__embed-responsive iframe,
    .videos__embed-responsive embed,
    .videos__embed-responsive object,
    .videos__embed-responsive video {
        padding: 0;
    }

    .videos__embed-responsive {
        width: 100%;
    }

    .modal__content {
        width: 90%;
    }

    .modal__body-music {
        text-align: center;
        margin: 1em;
        font-size: 2em;
        line-height: 2em;
    }
    
    .modal__body-contact {
        width: 100%;
        text-align: left;
        margin: 1em;
        font-size: 1.3em;
        line-height: 3em;
    }

    .band h1 {
        padding-bottom: .5em;
    }

    .footer {
        align-items: center;
        flex-direction: column;
        font-family: $jimfont;
        font-size: 2em;
        color: $ac2;
        margin-top: 1em;
    
        img {
            max-width: 90px;
            max-height: 90px;
        }
    }
}

@media screen and (max-width: 360px) {
    body {
        font-size: 14px;
    }

    nav {

        img {
            max-width: 160px;
            max-height: 160px;
        }
    }
}
