$mc: #000000; /* main color  default #000000 */
$ac1: #e3dbad; /* accent color 1 default #e3dbad */
$ac2: #c1a584; /* accent color 2 default #c1a584 */
$tc: #ffdaae; /* table tour hover color default #ffdaae*/

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:700');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:100');
@import url('https://fonts.googleapis.com/css?family=Jim+Nightshade');
  
  /* Firefox Desktop prefix*/
@-moz-document url-prefix() {
    .album__tracks li {
        margin-top: -10px;
    }
}

/* Desktop version */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Fira Sans', sans-serif;
    background: $mc;
}

a {
    transition: all 0.3s ease;
}

ul, ol, li {
    display: block;
    padding: 0;
    margin: 0;
}

header {
    background: $mc;
    border-top: 10px solid $ac1;
    color: $ac1;
    padding-top: 15px;
}

.logo {
    display: block;
    margin-top: -10px;
    padding-bottom: 5px;
    max-width: 100%;
    max-height: 90px;
}

.menu {
    color: $ac2;

}

.menu__item {
    word-spacing: 1em;
}

.menu__item a {
    color: $ac2;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
}

.menu__item a:hover {
    color: $ac1;
}

.socials__item {
    word-spacing: 0.5em;
}

.socials__item a {
    color: $ac2;
    font-size: 24px;
}

.socials__item a:hover{
    color: $ac1;
}

.modal-open {
    padding-right: 0px !important;
}

.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 80%;
    margin-left: 10%;
    pointer-events: auto;
    background-color: $mc;
    background-clip: padding-box;
    border: 1px solid $ac1;
    border-radius: 6px;
    outline: 0;
    font-family: 'Montserrat', sans-serif;
    color: $ac2;
}

.modal-header {
    border: none;
}
.close {
    color: $ac2;
    font-size: 2rem;
    opacity: 1;
}

.modal-footer {
    background: $ac2;
    border-color: $ac1;
}

.modal-footer:hover:active {
    background: $ac1 !important;
}

.btn-primary {
    border-radius: 3px;
    color: $mc;
    background-color: $ac2;
    border-color: $ac2;
}

.btn-primary:hover {
    color: $mc;
    background-color: $ac1;
    border-color: $ac1;
    outline: none !important;
}

.btn-primary:active:focus, .btn-primary:focus, .btn-primary.focus {
    color: $mc !important;
    background-color: $ac2 !important;
    border-color: $ac2 !important;
    outline: none !important;
    box-shadow: none !important;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: $mc !important;
  background-color: $ac1 !important;
  border-color: $ac1 !important;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(208, 255, 0, 0.5);
}

.album {
    background-image: url('../img/album_background.jpg');
    background-size: cover;
    color: $ac1;
    padding-bottom: 10px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: $ac1;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 15px;
    }

.album__cover {
    box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);
    padding-bottom: 5px;
}
   
.album__tracks li {
    list-style: decimal inside !important;
    display: list-item !important;
    font-family: 'Jim Nightshade', cursive;
    font-size: 24px;
    color: $ac2;
    line-height: 1;
}

h2 {
    font-family: 'Fira Sans', sans-serif;
    color: $ac2;
    font-size: 36px;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
}

.video {
    background: $mc;
    padding-bottom: 30px;
}

.tour {
    background: #a8957f;
    background-image: url('../img/band.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    padding-bottom: 30px;
}

.tour h2 span{
    color: $ac2;
    background: $mc;
    box-shadow: 10px 0 0px 0px $mc, -10px 0 0px 0px $mc;
}

.tour__table {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-color: transparent;
    background: rgba(0, 0, 0, 0.2);
    color: $ac1;
    border-bottom: 1px solid $tc;
}

.table thead th {
    vertical-align: bottom;
    border-top: 1px solid $mc;
    border-bottom: 1px solid $ac1;
    background: transparent;
    color: $mc;
    text-shadow: 1px 1px $ac1;
    font-size: 26px;
}

.table-hover thead tr:hover th, .table-hover tbody tr:hover td {
    color: $tc;
    text-shadow: none;
}

.contact__links a {
    font-family: sans-serif;
    color: $ac2;
    line-height: 2em;
}

.contact__links a:hover {
    color: $ac1;
    text-decoration: none;
}

.music__links a {
    font-family: sans-serif;
    color: $ac2;
    line-height: 2em;
}

.music__links a:hover {
    color: $ac1;
    text-decoration: none;
}

.footer {
    position: relative;
    background: $mc;
    width: 100%;
    height: 150px;
}

.footer__logo {
    position:relative;
    display: block;
    margin: auto;
    padding-top: 10px;
    max-width: 150px;
}

.footer__date {
    font-family: sans-serif;
    font-size: 0.9em;
    color: $ac2;
    margin: auto;
}

/* Mobile version (tested on 720p)*/
@media only screen and (min-device-width: 320px) and (max-device-width: 360px){
    
    .menu__item a {
        font-size: 32px;
    }

    .socials__item {
        padding-top: 10px;
        word-spacing: 1.5em;
    }

    .socials__item a {
        font-size: 36px;
    }
    
    .album {
        background-image: url('../img/album_background_m.jpg');
    }

    .album__cover {
        margin-left: -15px;
    }

    .album__tracks li {
        margin-top: 6px;
     }

    .video {
        padding-bottom: 15px;
    }

    .contact__links {
        font-size: 1rem;
        line-height: 3em;
    }

    .music__links {
        font-size: 1.1rem;
        line-height: 3em;
    }

    .tour {
        background: #a8957f;
        background-image: url('../img/band.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom;
        padding-bottom: 0px;
    }

    .tour__table {
        font-size: 18px;
    }

    .table thead th {
        font-size: 20px;
    }
         
    .footer {
        height: 120px;
    }
    
    .footer__logo {
        padding-top: 5px;
        max-width: 120px;
    }

}

/* Mobile version (tested on 1080p) */
@media only screen and (min-device-width: 361px) and (max-device-width: 900px){
  
    .menu__item a {
        font-size: 24px;
        line-height: 2em;
    }

    .socials__item {
        padding-top: 10px;
        word-spacing: 1.5em;
    }

    .socials__item a {
        font-size: 36px;
    }
    
    .album {
        background-image: url('../img/album_background_m.jpg');
    }

    .album__tracks li {
       margin-top: 10px;
    }

    .video {
        padding-bottom: 20px;
    }

    .contact__links {
        font-size: 1.1rem;
        line-height: 3em;
    }

    .music__links {
        font-size: 1.1rem;
        line-height: 3em;
    }

    .tour {
        background: #a8957f;
        background-image: url('../img/band.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom;
        padding-bottom: 0px;
    }

    .tour__table {
        font-size: 20px;
    }

    .table thead th {
        font-size: 22px;
    }

}

/* CSS Animation fadeInLeft */
@keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translate3d(-100%, 0, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInLeft {
    animation-name: fadeInLeft;
    animation-duration: 2s;
  }